/*.......FONT.........*/
@font-face{ 
  font-family: 'kids';
  src: url('font/pfkidspro.eot');
  src: url('font/PFKidsPro.ttf'),
       url('font/pfkidspro.woff') format('woff');
}

*{
  margin:0px;
  padding:0px;
}

a {
  text-decoration: none;
}
  
html, body{
  position: relative;
}
body{
	overflow-y: scroll;
}

body {background-image: url('https://lh4.googleusercontent.com/-4EFhm37mR34/UMZP2dR0f9I/AAAAAAAAASw/Dog3ZRVv5Gk/s684/rast31.jpg'); 
  line-height: 30px; font-family:'kids',sans-serif; font-size: 28px;
}
.clear {clear: both;}

/*.............................................TOP-MENU.....................................*/

#topMenu {display:none;background-color:#ff0000;}

/*.............................................LEFT-MENU.....................................*/


#leftMenu{
	background: #301d12; 
	position: fixed; z-index: 999; 
	height: 100%; width:281px; 
	
	-webkit-box-shadow: inset -2px 0 7px rgba(0, 0, 0, 0.50), 4px 0 5px rgba(0,0,0,0.4); 
	-moz-box-shadow: inset -2px 0 7px rgba(0, 0, 0, 0.50), 4px 0 5px rgba(0,0,0,0.4); 
	box-shadow: inset -2px 0 7px rgba(0, 0, 0, 0.50), 4px 0 5px rgba(0,0,0,0.4);}

#logo-area {background-image: url(pict/logo.png); 
	z-index: 99;
	position: relative; 
	height: 130px; 
	background-repeat: no-repeat;
	background-position: center;
	cursor:pointer;}

#arch {background-image: url(pict/arch.png);   
	background-repeat: no-repeat;
	width: 270px; height: 450px;
	position: absolute;
	top: -93px; left:5px;
	z-index: 1px;
}

#info-area {top: -12px; position: relative;}

.menu {color: white;z-index: 4;display: block; text-align: center; padding: 2px 58px; position: relative;}
.menu2 {display: block; text-align: center; padding: 0px 20px; position:fixed; bottom:15px;}	

.menu a{
	background-color: rgb(102, 64, 16);
	position: relative;
    color: #ffffff;
    opacity: 1;
    text-decoration: none;
    display: block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	text-align: center;
	
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	transform: translate(0, 0);
 
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
 
	height:31px;
	cursor:pointer;
	overflow:hidden;
} 
.menu a:active{
	opacity: 0.75;	

   -webkit-transform: translate(0, 3px);
	-moz-transform: translate(0, 3px);
	transform: translate(0, 3px);
}
.menu a.Facebook{
	width: 50px;
	height: 50px;
 	-webkit-box-shadow: 0px 6px 0px #2695BC;
    -moz-box-shadow: 0px 6px 0px #2695BC;
    box-shadow: 0px 6px 0px #A52A2A;;
}
.menu a.Facebook {background:#2E3132 url("pict/facebook.png") no-repeat center center;}
.menu a.Facebook:active {-webkit-box-shadow: 0px 2px 0px #2695BC;
    -moz-box-shadow: 0px 2px 0px #2695BC;
    box-shadow: 0px 2px 0px #33405E;
}	
/*.............................................GRID.....................................*/

#content {position: relative; height: 100%;margin-left:281px;}
.grid{display:none;}
.active.grid{display:block;}
.albumName{
	background: #432410; 
	position: relative;
	height: 30px; width:100%; 

	font: normal 20px/normal "Griffy", Helvetica, sans-serif;
	-o-text-overflow: clip;
	text-overflow: clip;
	color: white;
	
	-webkit-box-shadow: inset -2px 0 7px rgba(0, 0, 0, 0.50), 4px 0 5px rgba(0,0,0,0.4); 
	-moz-box-shadow: inset -2px 0 7px rgba(0, 0, 0, 0.50), 4px 0 5px rgba(0,0,0,0.4); 
	box-shadow: inset -2px 0 7px rgba(0, 0, 0, 0.50), 4px 0 5px rgba(0,0,0,0.4);}

.absolute{position:absolute;top:0px;left:0px;width:100%;}
.item:hover .hoverGrid{
	background: rgba(0, 0, 0, 0.15);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);  
}
.item {float:left;width:25%; height: 100%; position: relative;
}
/*.............................................ROUNDSHAPE.....................................*/
/*
.roundShape{
	bottom: 10%;
	position: absolute;
	left: 33.33%;
	display: block;
	z-index: 11;
	height: 50%;
	width: 53.33%;
	padding: 0px;
	border-radius: 150px;
	background-color: rgba(48, 29, 18, 1);
	opacity: 0;
    transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1); 
    box-shadow: 0 0 15px #423A3A;
    -moz-box-shadow: 0 0 15px #423A3A;
	-webkit-box-shadow: 0 0 15px #423A3A;
}
.active .item:hover .roundShape{
	bottom: 25%;
	opacity: 0.8;
}*/
/*.............................................TITLE.....................................*/

.item .title{
	bottom:0%;
	width: 100%;
	position: absolute;
	text-align: center;
	color: #FFFFFF;
	opacity: 0;
 	transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
 
 /*.......FONT.........*/

	font: normal 25px/normal "Griffy", Helvetica, sans-serif;
	-o-text-overflow: clip;
	text-overflow: clip;
 }

.active .item:hover .title{  
	opacity: 1;
	bottom:10%;
	z-index: 99;
}
.item img {width:100%; display: block;}

.itemLink{
	background-color: rgb(102, 64, 16);
	position: relative;
	opacity:0.8;
    color: #ffffff;
    text-decoration: none;
    display: block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	text-align: center;
	
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	transform: translate(0, 0);
 
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;

	-webkit-box-shadow: 0 0 5px #000000;
 
	height:46px;
	cursor:pointer;
	overflow:hidden;
}
.itemLink:active{
	opacity:0.9;

   -webkit-transform: translate(0, 3px);
	-moz-transform: translate(0, 3px);
	transform: translate(0, 3px);
}

.menu .activeElement{}