/*.......FONT.........*/
@font-face{ 
	font-family: 'kids';
	src: url('font/pfkidspro.eot');
	src: url('font/PFKidsPro.ttf'),
   		 url('font/pfkidspro.woff') format('woff');
}

*{
 	margin:0px;
 	padding:0px;
}

a {text-decoration: none;}
  
html, body{
	width: 100%; min-height: 100%;
	
	-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none;
	position: relative;
}

body {
	position: relative;
	background-color: rgb(39, 23, 3);
	background-image: url('https://lh4.googleusercontent.com/-4EFhm37mR34/UMZP2dR0f9I/AAAAAAAAASw/Dog3ZRVv5Gk/s684/rast31.jpg'); 
 	line-height: 30px; 
 	font-family:'kids',sans-serif; 
 	font-size: 28px;
 	-webkit-font-smoothing: antialiased;
}

/*.............................................LOADING.....................................*/
#loading {
	position: fixed; top:0px; right: 0px; left: 0px; bottom: 0px; 
	background-color: rgba(35, 21, 11, 1);
	margin-left:281px; z-index: 1; 
	background-image: url('pict/gridGround.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#gradientLoading{
	background: -webkit-linear-gradient(-180deg, rgba(13, 7, 1, 1) 0, rgba(35, 21, 11, 1) 100%);
	background: -moz-linear-gradient(-90deg, rgba(13, 7, 1, 1) 0, rgba(35, 21, 11, 1) 100%);
	background: linear-gradient(-90deg, rgba(13, 7, 1, 1) 0, rgba(35, 21, 11, 1) 100%);
	height: 100%;
	width: 47%;
	right: 0px;
	position: absolute;
	z-index: 0;
}
.loadingText{	
    font: bold 75px Griffy, Serif;
    text-shadow: -4px 3px 0 #5C411E, -14px 7px 0 rgba(0, 0, 0, 0);
    cursor: default;
    color: #CFAC6D;
  	text-align: center;
  	position: relative;
  	padding-top: 40%;
}
#spinner {
	position: absolute;top:45%; right:100%; width: 50px;

    -webkit-animation-name: spinner; 
    -webkit-animation-duration: 8s; 
    animation-name: spinner;
    animation-duration: 8s;
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite; 
    animation-iteration-count: infinite;
}
@-webkit-keyframes spinner {
    from {right:100%;}
    to {right:-5%;}
}
@keyframes spinner {
    from {right:100%;}
    to {right:-5%;}
}

/*.............................................TOP-MENU.....................................*/

#topMenu {display:none;}

/*.............................................LEFT-MENU.....................................*/


#leftMenu{
	background: #271703;
	position: fixed; z-index: 10; 
	height: 100%; width:281px; 
	
	-webkit-box-shadow: inset -2px 0 7px rgba(0, 0, 0, 0.50), 4px 0 5px rgba(0,0,0,0.4); 
	-moz-box-shadow: inset -2px 0 7px rgba(0, 0, 0, 0.50), 4px 0 5px rgba(0,0,0,0.4); 
	box-shadow: inset -2px 0 7px rgba(0, 0, 0, 0.50), 4px 0 5px rgba(0,0,0,0.4);}


#logo-area {
	margin-top: 14px;margin-left: 64px;
	position: relative; 
	height: 47px; 
	color: #CFAC6D;
    font: bold 42px Griffy, Serif;
    text-shadow: -4px 3px 0 #5C411E, -14px 7px 0 rgba(0, 0, 0, 0);
    cursor: default;
    z-index: 5;

    -webkit-animation-name: logo; 
    -webkit-animation-duration: 10s; 
    -webkit-animation-iteration-count: infinite;
      
    animation-name: logo; 
    animation-duration: 10s; 
    animation-iteration-count: infinite;
}
@-webkit-keyframes logo {
    0%   {color:#CFAC6D;}
    55%   {color:#CFAC6D;}
    75%  {color:#ECC989;}
    100% {color:#CFAC6D;}
}
@keyframes logo {
    0%   {color:#CFAC6D;}
    55%   {color:#CFAC6D;}
    75%  {color:#ECC989;}
    100% {color:#CFAC6D;}
}

#arch {
 	background-image: url(pict/arch.png);
 	background-repeat: no-repeat;
 	opacity: 1;
 	width: 280px;
 	height: 680px;
 	position: absolute;
 	top: -680px;
 	left: 2px;

 	-webkit-animation-name: arch; 
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s; 
    -webkit-animation-fill-mode: forwards;
      
    animation-name: arch; 
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards; 
}
@-webkit-keyframes arch {
    from {top: -680px;visibility:visible;}
    to {top: -347px;}
}
@keyframes arch {
    from {top: -680px;visibility:visible;}
    to {top: -347px;}
}

#arch:after {
	animation-play-state:paused;
	-webkit-animation-play-state:paused;}

#info-area {position: relative;}


/*.............................................MENU.....................................*/

.menu {color: white;z-index: 4;display: block; text-align: center; padding: 2px 58px; position: relative;}

.menu a{
	background-color: rgb(102, 64, 16);
	text-shadow: 3px 1px 1px rgba(48, 29, 18, 1);
	-moz-box-shadow: inset -2px 0 27px rgba(0, 0, 0, 0.3), 4px 0 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset -2px 0 27px rgba(0, 0, 0, 0.3), 4px 0 5px rgba(0, 0, 0, 0.1);
	box-shadow: inset -2px 0 27px rgba(0, 0, 0, 0.3), 4px 0 5px rgba(0, 0, 0, 0.1);

	position: relative;
    color: #F4DDB5;
    opacity: 1;
    text-decoration: none;
    display: block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	text-align: center;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
 
	height:31px;
	cursor:pointer;
	overflow:hidden;
} 

.menu a:active{
	opacity: 0.75;

   -webkit-transform: translate(0, 3px);
	-moz-transform: translate(0, 3px);
	transform: translate(0, 3px);
}

.menu .activeElement{
	background: -webkit-linear-gradient(-90deg, rgba(145, 74, 6, 0.99) 0, rgba(84, 44, 5, 0.99) 100%);
	background: -moz-linear-gradient(180deg, rgba(145, 74, 6, 0.99) 0, rgba(84, 44, 5, 0.99) 100%);
	background: linear-gradient(180deg, rgba(145, 74, 6, 0.99) 0, rgba(84, 44, 5, 0.99) 100%);
	background-color: #783D05;
	-moz-box-shadow: inset -2px 0 27px rgba(0, 0, 0, 0.3), 4px 0 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset -2px 0 27px rgba(0, 0, 0, 0.3), 4px 0 5px rgba(0, 0, 0, 0.1);
	box-shadow: inset -2px 0 27px rgba(0, 0, 0, 0.3), 4px 0 5px rgba(0, 0, 0, 0.1);

}

/*.............................................GRID.....................................*/

#content {position: relative; height: 100%;margin-left:281px;}
#gridOther {background: rgba(18, 9, 5, 0.54);}
#gridFrames {  
  position: relative;
  min-height: 100%;
  margin: 0 auto;}


.grid{display:none;}
.active.grid{display:block;}

.gridWall{display:none; background: rgba(18, 9, 5, 0.54);}
.active.gridWall{display:block;}

.column-style{
	-webkit-column-count: 3;
    -moz-column-count: 3; 
    column-count: 3;
	-webkit-column-width: 250px; 
    -moz-column-width: 250px; 
    column-width: 250px;
    -webkit-column-gap: 0px; 
    -moz-column-gap: 0px; 
    column-gap: 0px;

}

/*.............................................HEDLINES.....................................*/
.topic{
	background: rgba(81, 81, 81, 0.65);
	position: relative; 	
	height: 23px; width:100%;
	font: normal 20px/normal "Griffy", Helvetica, sans-serif;
	-o-text-overflow: clip;
	text-overflow: clip;
	z-index: 1;

	-webkit-box-shadow: inset -2px 0 27px rgba(0, 0, 0, 1), 4px 0 5px rgba(3, 3, 3, 0.66);
	-moz-box-shadow: inset -2px 0 27px rgba(0, 0, 0, 1), 4px 0 5px rgba(3, 3, 3, 0.66);
	box-shadow: inset -2px 0 27px rgba(0, 0, 0, 1), 4px 0 5px rgba(3, 3, 3, 0.66);
}
.topicText{
	color: rgb(116, 213, 255);
	opacity: 0.6;
	text-align: center;
	transition: 1s;

	animation-name: topicText; 
    animation-duration: 1.5s; 
    animation-iteration-count: 6;
	animation-delay: 1s;

	-webkit-animation-name: topicText; 
    -webkit-animation-duration: 1.5s; 
    -webkit-animation-iteration-count: 6;
    -webkit-animation-delay: 1s;
}

@-webkit-keyframes topicText {
    0%   {opacity: 0.6;}
    50%  {opacity: 1;}
    100% {opacity: 0.6;}
}
@keyframes topicText {
    0%   {opacity: 0.6;}
    50%  {opacity: 1;}
    100% {opacity: 0.6;}
}

.albumName{
	background: rgba(82, 50, 11, 1);
	position: relative; 	
	height: 27px; width:100%;
	text-align: center; 

	font: normal 20px/normal "Griffy", Helvetica, sans-serif;
	-o-text-overflow: clip;
	text-overflow: clip;
	color: rgb(255, 237, 226);
	
	-webkit-box-shadow: inset -2px 0 27px rgba(0, 0, 0, 1), 4px 0 5px rgba(3, 3, 3, 0.66);
	-moz-box-shadow: inset -2px 0 27px rgba(0, 0, 0, 1), 4px 0 5px rgba(3, 3, 3, 0.66);
	box-shadow: inset -2px 0 27px rgba(0, 0, 0, 1), 4px 0 5px rgba(3, 3, 3, 0.66);
	z-index: 1;
}

/*.............................................ITEM.....................................*/

.item {
	position: relative; 
	/*padding-right: 10px;*/
}

 .cboxPhoto, .item img {-webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px;}

.item img {
	border: 4px solid rgb(39, 23, 3);
 	box-sizing: border-box;
	display: block;
 	width: 100%;
  	transition: .8s;
  	box-shadow: 0 0 45px #050505; -moz-box-shadow: 0 0 45px #050505; -webkit-box-shadow: 0 0 45px #050505;-
}
.item img:hover {
	cursor: pointer;
/*
	transition: -webkit-border-radius 0.3s cubic-bezier(0.33, 0.66, 0.66, 1); 
	transition: -moz-border-radius 0.3s cubic-bezier(0.33, 0.66, 0.66, 1); 
	transition: border-radius 0.3s cubic-bezier(0.33, 0.66, 0.66, 1); 

	-webkit-transition-delay: .1s; -moz-transition-delay: .1s; transition-delay: .1s;

	-webkit-border-radius: 55px; -moz-border-radius: 55px; border-radius: 55px;
*/
}

/*.............................................HorizontalGallery.....................................*/

.makeMeScrollable{
	width: 100%;
	height: 400px;
	position: relative;
	background: rgba(14, 4, 0, 0.43);
 	/*border-top: 8px solid rgba(39, 23, 3, 1);*/
	box-shadow: 0 0 45px #050505; -moz-box-shadow: 0 0 45px #050505; -webkit-box-shadow: 0 0 45px #050505;
}

.makeMeScrollable div.scrollableArea div{
	
	display: table-cell;
}

.makeMeScrollable div.scrollableArea div img{
	transition: .8s;
	margin-right: 7px;
	padding: 0;
	max-height: 400px;

	-webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px;

	box-shadow: 0 0 45px #050505; -moz-box-shadow: 0 0 45px #050505; -webkit-box-shadow: 0 0 45px #050505;
}
.makeMeScrollable div.scrollableArea div .allowHover img:hover {
	transition: -webkit-border-radius 0.3s cubic-bezier(0.33, 0.66, 0.66, 1); 
	transition: -moz-border-radius 0.3s cubic-bezier(0.33, 0.66, 0.66, 1); 
	transition: border-radius 0.3s cubic-bezier(0.33, 0.66, 0.66, 1); 

	-webkit-transition-delay: .1s; -moz-transition-delay: .1s; transition-delay: .1s;

	-webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px;

    box-shadow: 0 0 45px #050505; -moz-box-shadow: 0 0 45px #050505; -webkit-box-shadow: 0 0 45px #050505;
 }

.barefaced div{padding: 0px; margin: 0px;}

/*.............................................FOOTER.....................................*/
.wave {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 65px;
  background-image: url('pict/wave.png');
  /*background-size: 8%;*/
  background-repeat: repeat-x;
  z-index: 11;
}
/*.waveVertical {
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  width: 23px;
  background-image: url('pict/wave-vertical.png');
  background-repeat: repeat-y; 
  z-index: 2;
  display: none;
}*/


/*..................................................................................*/
button:focus{outline: 0px;}
.noScroll {position:fixed; overflow-y:scroll;}
.absolute {position:absolute; top:0px; left:0px; width:100%;}
.clearfix{clear:both;}
/*.disable-hover {pointer-events: none;}*/