
#topMenu{display:block;
width: 100%; background: #301d12; z-index: 1;
		-webkit-box-shadow: inset -2px 0 7px rgba(0, 0, 0, 0.50), 4px 0 5px rgba(0,0,0,0.4); 
  	    -moz-box-shadow: inset -2px 0 7px rgba(0, 0, 0, 0.50), 4px 0 5px rgba(0,0,0,0.4); 
        box-shadow: inset -2px 0 7px rgba(0, 0, 0, 0.50), 4px 0 5px rgba(0,0,0,0.4);}
#leftMenu{display:none;}
#content{margin-left:0px;}

.item{width:100%;}
.item .title{display: block;}

















.landscape .item{
	width:50%;
}